/* Bet Box Styles */

.bet-box {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #ffffff;
    max-width: 200px;
}

.bet-box-locked {
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: .5;
}

.bet-box-unselected {
    background-color: #ffffff;
    color: black;
}

.bet-box-selected {
    background-color: #33A1FD;
    color: #ffffff;
    border: 2px solid #2066a1;
}

.bet-game {
    min-height: 100px;
    margin-bottom: 30px;
}

.bet-win-amount {
    min-height: 30px;
}


/* Bet Amount Input Box*/

.bet-amount-input {
    max-width: 100px;
    min-height: 40px;
    border: 2px solid #19A404;
    border-radius: 5px;
    font-size: 1em;
}

.bet-amount-input:disabled {
    border: 2px solid grey;
}

.bet-amount-input:focus {
    outline: none;
}

.bet-amount-input:disabled {
    opacity: 50%;
}

.save-button {
    background-color: #33A1FD;
    color: white;
}


/* Floating Display at top */

.float-div {
    z-index: 999;
    position: relative;
    background-color: #292727;
    border: 2px solid #33A1FD;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
}


/* Hide radio buttons */

input[type=radio]+label::before {
    content: '';
    display: inline-block;
    border: 2px solid #000;
    border-radius: 25%;
    margin: 0 0em;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}