/* Bet Box Styles */

.bet-box {
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bet-box-unselected {
    background-color: #4d4b4b;
    color: #ffffff;
}

.bet-box-selected {
    background-color: #19A404;
    color: #ffffff;
}


/* Point +/- Button Style */

.increase-bet-button {
    touch-action: manipulation;
}

.increase-bet-button {
    touch-action: manipulation;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.btn-outline-success:disabled {
    color: #666666;
}

.btn-outline-danger:disabled {
    color: #666666;
}


/* Point Display at top */

.point-box {
    background-color: #4d4b4b;
    color: #ffffff;
    border-radius: 5px;
}


/* Hide radio buttons */

input[type=radio]+label::before {
    content: '';
    display: inline-block;
    border: 2px solid #000;
    border-radius: 25%;
    margin: 0 0em;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}