{% extends "base.html" %}

{% block page_content %}
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_subject">Email</label>
      <input type="text" class="form-control" id="id_subject" name="email">
    </div>
    <div class="form-group">
      <label for="id_message">Password</label>
      <input class="form-control" id="id_message" name="password" rows="5"></input>
    </div>
    <button type="submit" class="btn btn-success">Login</button>
  </form>
{% endblock %}