/* Pick Box Styles */

.pick-box {
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #ffffff;
    max-width: 200px;
}

.pick-box-unselected {
    background-color: #ffffff;
    color: black;
}

.pick-box-selected {
    background-color: #33A1FD;
    color: #ffffff;
    border: 2px solid #2066a1;
}

.pick-box.locked {
    opacity: .5;
}