{% extends "fantasyFootball/base.html" %} {% block page_content %} {% load static %}
<link href="{% static 'bets/css/bets.css' %}" rel="stylesheet">

<body>
    <div class="container">
        <!--Week and League List Selectors-->
        {% include "fantasyFootball/weekLeagueLists.html" %}
        <!-- Total Points Display -->
        <div class="d-flex flex-row justify-content-center mt-2 mb-2">
            <div class="col-lg-3 point-box text-center">
                <div class="d-flex flex-row justify-content-center">
                    <small>Point total: </small>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <h6 id="totalPoints"> {{ userScore }}</h6>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-3 point-box text-center">
                <div class="d-flex flex-row justify-content-center">
                    <small>Available: </small>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <h6 id="pointsToBet"> {{ userScore }}</h6>
                </div>
            </div>
        </div>
        <!--Bets-->
        <div class="d-flex flex-row justify-content-center">
            <div class="col-lg-3 text-muted text-center">
                <h6>Home Spread</h6>
            </div>
            <div class="col-lg-2 text-muted text-center">
                <h6>Bet Amount</h6>
            </div>
            <div class="col-lg-3 text-muted text-center">
                <h6>Away Spread</h6>
            </div>
        </div>

        <form action="" method="POST">
            {% csrf_token %} {% for currentBet in betData %} {% if currentBet.pickLocked == False %}
            <div class="d-flex flex-row justify-content-center">
                <!--Display logic for if a winner has already been selected-->
                {% if currentBet.pick != None %} {% if currentBet.pick.name == currentBet.homeTeam.name %}
                <div class="col-lg-3 shadow-sm bet-box bet-box-selected text-center">
                    <div class="pick">
                        {% if currentBet.homeSpread > 0 %}
                        <div>
                            <h6>+{{ currentBet.homeSpread }}</h6>
                        </div>
                        {% else %}
                        <div>
                            <h6>{{ currentBet.homeSpread }}</h6>
                        </div>
                        {% endif %}
                        <input type="radio" name="{{ currentBet.game }}" id="{{ currentBet.homeTeam.name }}" value="{{ currentBet.homeTeam.name }}" checked="checked">
                        <img class="img-fluid" src="/static/media/{{ currentBet.homeTeam.name }}.png" width="60" height="60">
                        <div><small>{{ currentBet.homeTeam.wins }} - {{ currentBet.homeTeam.losses }}</small></div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-3 shadow-sm bet-box bet-box-unselected text-center">
                    <div class="pick">
                        {% if currentBet.homeSpread > 0 %}
                        <div>
                            <h6>+{{ currentBet.homeSpread }}</h6>
                        </div>
                        {% else %}
                        <div>
                            <h6>{{ currentBet.homeSpread }}</h6>
                        </div>
                        {% endif %}
                        <input type="radio" name="{{ currentBet.game }}" id="{{ currentBet.homeTeam.name }}" value="{{ currentBet.homeTeam.name }}">
                        <img class="img-fluid" src="/static/media/{{ currentBet.homeTeam.name }}.png" width="60" height="60">
                        <div><small>{{ currentBet.homeTeam.wins }} - {{ currentBet.homeTeam.losses }}</small></div>
                    </div>
                </div>
                {% endif %}
                <div class="col-lg-2 text-center mt-4">
                    <input type="hidden" class="game-bet-amount-input" name="#{{ currentBet.game }}" id="{{ currentBet.homeTeam.name }}" value="{{ currentBet.betAmount }}">
                    <h6 class="game-bet-amount">{{ currentBet.betAmount }}</h6>
                    {% if currentBet.pick == None %}
                    <button class="btn btn-outline-success mr-1 increase-bet-button" type="button" disabled>+</button>
                    <button class="btn btn-outline-danger decrease-bet-button" type="button" disabled>-</button> {% else %}
                    <button class="btn btn-outline-success mr-1 increase-bet-button" type="button">+</button>
                    <button class="btn btn-outline-danger decrease-bet-button" type="button">-</button> {% endif %}
                </div>
                {% if currentBet.pick.name == currentBet.awayTeam.name %}
                <div class="col-lg-3 shadow-sm bet-box bet-box-selected text-center">
                    <div class="pick">
                        {% if currentBet.awaySpread > 0 %}
                        <div>
                            <h6>+{{ currentBet.awaySpread }}</h6>
                        </div>
                        {% else %}
                        <div>
                            <h6>{{ currentBet.awaySpread }}</h6>
                        </div>
                        {% endif %}
                        <input type="radio" name="{{ currentBet.game }}" id="{{ currentBet.awayTeam.name }}" value="{{ currentBet.awayTeam.name }}" checked="checked">
                        <img class="img-fluid" src="/static/media/{{ currentBet.awayTeam.name }}.png" width="60" height="60">
                        <div><small>{{ currentBet.awayTeam.wins }} - {{ currentBet.awayTeam.losses }}</small></div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-3 shadow-sm bet-box bet-box-unselected text-center">
                    <div class="pick">
                        {% if currentBet.awaySpread > 0 %}
                        <div>
                            <h6>+{{ currentBet.awaySpread }}</h6>
                        </div>
                        {% else %}
                        <div>
                            <h6>{{ currentBet.awaySpread }}</h6>
                        </div>
                        {% endif %}
                        <input type="radio" name="{{ currentBet.game }}" id="{{ currentBet.awayTeam.name }}" value="{{ currentBet.awayTeam.name }}">
                        <img class="img-fluid" src="/static/media/{{ currentBet.awayTeam.name }}.png" width="60" height="60">
                        <div><small>{{ currentBet.awayTeam.wins }} - {{ currentBet.awayTeam.losses }}</small></div>
                    </div>
                </div>
                {% endif %}
                <!--Display logic for if a winner has not been selected, this is the default view-->
                {% else %}
                <div class="col-lg-3 shadow-sm bet-box text-center">
                    <div class="pick">
                        {% if currentBet.homeSpread > 0 %}
                        <div>
                            <h6>+{{ currentBet.homeSpread }}</h6>
                        </div>
                        {% else %}
                        <div>
                            <h6>{{ currentBet.homeSpread }}</h6>
                        </div>
                        {% endif %}
                        <input type="radio" name="{{ currentBet.game }}" id="{{ currentBet.homeTeam.name }}" value="{{ currentBet.homeTeam.name }}">
                        <img class="img-fluid" src="/static/media/{{ currentBet.homeTeam.name }}.png" width="60" height="60">
                        <div><small>{{ currentBet.homeTeam.wins }} - {{ currentBet.homeTeam.losses }}</small></div>
                    </div>
                </div>
                <div class="col-lg-2 text-center mt-4">
                    <input type="hidden" class="game-bet-amount-input" name="#{{ currentBet.game }}" id="{{ currentBet.homeTeam.name }}" value="{{ currentBet.betAmount }}">
                    <h6 class="game-bet-amount">{{ currentBet.betAmount }}</h6>
                    {% if currentBet.pick == None %}
                    <button class="btn btn-outline-success mr-1 increase-bet-button" type="button" disabled>+</button>
                    <button class="btn btn-outline-danger decrease-bet-button" type="button" disabled>-</button> {% else %}
                    <button class="btn btn-outline-success mr-1 increase-bet-button" type="button">+</button>
                    <button class="btn btn-outline-danger decrease-bet-button" type="button">-</button> {% endif %}
                </div>
                <div class="col-lg-3 shadow-sm bet-box text-center">
                    <div class="pick">
                        {% if currentBet.awaySpread > 0 %}
                        <div>
                            <h6>+{{ currentBet.awaySpread }}</h6>
                        </div>
                        {% else %}
                        <div>
                            <h6>{{ currentBet.awaySpread }}</h6>
                        </div>
                        {% endif %}
                        <input type="radio" name="{{ currentBet.game }}" id="{{ currentBet.awayTeam.name }}" value="{{ currentBet.awayTeam.name }}">
                        <img class="img-fluid" src="/static/media/{{ currentBet.awayTeam.name }}.png" width="60" height="60">
                        <div><small>{{ currentBet.awayTeam.wins }} - {{ currentBet.awayTeam.losses }}</small></div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% else %}
            <!-- Betting is locked for the current game if we make it here -->
            <div class="d-flex flex-row justify-content-center">
                <div class="col-lg-3 shadow-sm bet-box text-center">
                    <div class="pick">
                        {% if currentBet.homeSpread > 0 %}
                        <div>
                            <h6>+{{ currentBet.homeSpread }}</h6>
                        </div>
                        {% else %}
                        <div>
                            <h6>{{ currentBet.homeSpread }}</h6>
                        </div>
                        {% endif %}
                        <input type="radio" name="{{ currentBet.game }}" id="{{ currentBet.homeTeam.name }}" value="{{ currentBet.homeTeam.name }}" disabled>
                        <img class="img-fluid" src="/static/media/{{ currentBet.homeTeam.name }}.png" width="60" height="60">
                        <div><small>{{ currentBet.homeTeam.wins }} - {{ currentBet.homeTeam.losses }}</small></div>
                    </div>
                </div>
                <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center">
                    <h6 class="game-bet-amount">{{ currentBet.betAmount }}</h6>
                    <img class="img-fluid" src="{% static 'media/lock.png' %}" width="30" height="auto">
                </div>
                <div class="col-lg-3 shadow-sm bet-box text-center">
                    <div class="pick">
                        {% if currentBet.awaySpread > 0 %}
                        <div>
                            <h6>+{{ currentBet.awaySpread }}</h6>
                        </div>
                        {% else %}
                        <div>
                            <h6>{{ currentBet.awaySpread }}</h6>
                        </div>
                        {% endif %}
                        <input type="radio" name="{{ currentBet.game }}" id="{{ currentBet.awayTeam.name }}" value="{{ currentBet.awayTeam.name }}" disabled>
                        <img class="img-fluid" src="/static/media/{{ currentBet.awayTeam.name }}.png" width="60" height="60">
                        <div><small>{{ currentBet.awayTeam.wins }} - {{ currentBet.awayTeam.losses }}</small></div>
                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}
            <div class="text-center">
                <input type="submit" class="btn btn-success" value="Save Bets">
            </div>
        </form>
    </div>
</body>{% load static %}
<script src="{% static 'bets/js/betting.js' %}"></script>
{% endblock %}