{% extends "fantasyFootball/base.html" %} {% block page_content %} {% load static %}
<link href="{% static 'bets/css/bets.css' %}" rel="stylesheet">

<body>
    <div class="container">
        <div class="d-flex flex-row justify-content-between">
            <div class="dropdown">
                <button class="btn btn-green btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Week {{ currentWeek.id }}
                </button>
                <div class="dropdown-menu">
                    {% for week in weeks %}
                    <a class="dropdown-item" href="/bets/{{ week }}/">Week {{ week }}</a> {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-sm btn-blue dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ activeLeague }}</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for league in userLeagues %}
                    <a class="dropdown-item" href="/bets/1/{{ league.name }}/">{{ league.name }}</a> {% endfor %}
                </div>
            </div>
        </div>
        <!-- Total Points Display -->
        <div class="d-flex flex-row justify-content-center point-box mt-3">
            <div class="col-lg-6 text-center">
                <h6 >Your current point total: </h6>
                <h6 id="totalPoints">{{ userScore }}</h6>
            </div>
            <div class="col-lg-6 text-center">
                <h6 >Points available to bet: </h6>
                <h6 id="pointsToBet">{{ userScore }}</h6>
            </div>
        </div>
        <!--Bets-->
        <div class="d-flex flex-row justify-content-center">
            <div class="col-lg-5 text-muted text-center">
                <h6>Home Spread</h6>
            </div>
            <div class="col-lg-2 text-muted text-center">
                <h6>Current Bet</h6>
            </div>
            <div class="col-lg-5 text-muted text-center">
                <h6>Away Spread</h6>
            </div>
        </div>
        {% for currentPick in pickData %}
        <div class="d-flex flex-row justify-content-center">
            <div class="col-lg-5 bet-box text-center">
                <div class="pick">
                    <input type="radio" name="{{ currentPick.game }}" id="{{ currentPick.homeTeam.name }}" value="{{ currentPick.homeTeam.name }}">
                    <img class="img-fluid" src="/static/media/{{ currentPick.homeTeam.name }}.png" width="75" height="75">
                    <div><small>{{ currentPick.homeTeam.wins }} - {{ currentPick.homeTeam.losses }}</small></div>
                </div>
            </div>
            <div class="col-lg-2 game-point-display text-center mt-4">
                <h6 class="game-bet-amount">0</h6>
                <button class="btn btn-outline-success mr-1 increase-bet-button" type="button">+</button>
                <button class="btn btn-outline-danger decrease-bet-button" type="button">-</button>
            </div>
            <div class="col-lg-5 bet-box text-center">
                <div class="pick">
                    <input type="radio" name="{{ currentPick.game }}" id="{{ currentPick.awayTeam.name }}" value="{{ currentPick.awayTeam.name }}">
                    <img class="img-fluid" src="/static/media/{{ currentPick.awayTeam.name }}.png" width="75" height="75">
                    <div><small>{{ currentPick.awayTeam.wins }} - {{ currentPick.awayTeam.losses }}</small></div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--<div class="row">
            <div class="col">
                <form action="" method="POST">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Home</th>
                                <th scope="col">Date</th>
                                <th scope="col">Away</th>
                            </tr>
                        </thead>
                        <tbody class="form-group">
                            {% csrf_token %} {% for currentPick in pickData %} {% if currentPick.pickLocked == False %}
                            <tr class="enabled">
                                <td class="text-center">
                                    <label>
                                        {% if currentPick.pick.name == currentPick.homeTeam.name %}
                                        <input type="radio" name="{{ currentPick.game }}" id="{{ currentPick.homeTeam.name }}" value="{{ currentPick.homeTeam.name }}" checked>
                                        {% else %}
                                        <input type="radio" name="{{ currentPick.game }}" id="{{ currentPick.homeTeam.name }}" value="{{ currentPick.homeTeam.name }}" >
                                        {% endif %}
                                        <img class="img-fluid" src="/static/media/{{ currentPick.homeTeam.name }}.png" width="75" height="75">
                                        <h5>+7</h5>
                                    </label>
                                </td>
                                <td class="text-center align-middle">
                                    <div>{{ currentPick.date }} </div>
                                    <div>{{ currentPick.time }}</div>
                                </td>
                                <td class="text-center">
                                    <label>
                                        {% if currentPick.pick.name == currentPick.awayTeam.name %}
                                        <input type="radio" name="{{ currentPick.game }}" id="{{ currentPick.awayTeam.name }}" value="{{ currentPick.awayTeam.name }}" checked>
                                        {% else %}
                                        <input type="radio" name="{{ currentPick.game }}" id="{{ currentPick.awayTeam.name }}" value="{{ currentPick.awayTeam.name }}" >
                                        {% endif %}
                                        <img class="img-fluid" src="/static/media/{{ currentPick.awayTeam.name }}.png" width="75" height="75">
                                        <h5>-7</h5>
                                    </label>
                                </td>
                            </tr>
                            {% else %}
                            <tr class="disabled">
                                <td class="text-center">
                                    <label>
                                        {% if currentPick.pick.name == currentPick.homeTeam.name %}
                                        <input type="radio" class= "correct" name="{{ currentPick.game }}" id="{{ currentPick.homeTeam.name }}" value="{{ currentPick.homeTeam.name }}" disabled checked>
                                        {% else %}
                                        <input type="radio" class="incorrect" name="{{ currentPick.game }}" id="{{ currentPick.homeTeam.name }}" value="{{ currentPick.homeTeam.name }}" disabled >
                                        {% endif %}
                                        <img class="img-fluid" src="/static/media/{{ currentPick.homeTeam.name }}.png" width="75" height="75">
                                        <h5>+7</h5>
                                    </label>
                                </td>
                                <td class="text-center align-middle">
                                    <label>
                                        <div>{{ currentPick.date }}</div>
                                        <div>{{ currentPick.time }}</div>
                                    </label>
                                </td>
                                <td class="text-center">
                                    <label>
                                        {% if currentPick.pick.name == currentPick.awayTeam.name %}
                                        <input type="radio" class= "correct" name="{{ currentPick.game }}" id="{{ currentPick.awayTeam.name }}" value="{{ currentPick.awayTeam.name }}" disabled checked >
                                        {% else %}
                                        <input type="radio" class= "incorrect" name="{{ currentPick.game }}" id="{{ currentPick.awayTeam.name }}" value="{{ currentPick.awayTeam.name }}" disabled>
                                        {% endif %}
                                        <img class="img-fluid" src="/static/media/{{ currentPick.awayTeam.name }}.png" width="75" height="75">
                                        <h5>-7</h5>
                                    </label>
                                </td>
                            </tr>
                            {% endif %} {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                        <input type="submit" class="btn btn-success" value="Save Picks">
                    </div>
                </form>
            </div>
        </div>-->
    </div>
</body>{% load static %}
<script src="{% static 'bets/js/betting.js' %}"></script>
{% endblock %}