{% extends "fantasyFootball/base.html" %} {% block page_content %}
<div class="container">
    <h2> Create a new League</h2>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <strong>Error: </strong> {{ error }}
    </div>{% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>League Name* - <small> Only alphanumeric values please.</small></label>
                <input type="text" class="form-control" id="name" name="name" placeholder="League Name" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>League Description</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Description" required>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <div class="col">
                    <legend class="col-form-label pt-0">League Visibility</legend>
                    <p>Public leagues allow for anyone to join, whereas private leagues will require the League Administrator to accept requests.</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="visibility" value="Public" checked>
                        <label class="form-check-label">Public</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="visibility" value="Private">
                        <label class="form-check-label">Private</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Create League</button>
    </form>
    {% endblock %}
</div>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>