{% extends "fantasyFootball/base.html" %} {% block page_content %}

<div class="container">
    <h1 class="display-4">Join a League</h1>
    <input class="form-control" id="searchLeagues" type="text" placeholder="Search Leagues..">
    <hr> {% if leagueData %}
    <table id="leagueTable" class="table table-responsive-md btn-table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">League Name</th>
                <th class="th-sm">Admin</th>
                <th class="th-sm">Request to Join</th>
            </tr>
        </thead>
        <tbody>
            {% for currentLeague in leagueData %}
            <tr>
                <td value="{{ currentLeague.league.name }}" class="league-name">{{ currentLeague.league.name }}</td>
                <td>{{ currentLeague.league.admin.username }}</td>
                {% if currentLeague.pendingRequest == True %}
                <td>Request Pending</td>
                {% else %}
                <td>
                    <input type="submit" class="btn btn-indigo btn-sm m-0 request-button" value="Request" />
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h4>There are currently no leagues to join. Go create one now!</h4>
                <a type="button" href="/league/create/" class="btn btn-outline-info main-color">Create League</a>
            </div>
        </div>
        {% endif %}
    </div>
    {% load static %}
    <script src="{% static 'league/js/joinLeague.js' %}"></script>
    {% endblock %}