{% extends "fantasyFootball/base.html" %} {% block page_content %}

<div class="container">
    <h4>Join a League</h4>
    <table id="leagueTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">League Name
                </th>
                <th class="th-sm">Admin
                </th>
                <th class="th-sm">Request to Join
                </th>
            </tr>
        </thead>
        <tbody>
            {% for currentLeague in leagueData %}
            <tr>
                <td>{{ currentLeague.league.name }}</td>
                <td>{{ currentLeague.league.admin.username }}</td>
                {% if currentLeague.pendingRequest == True %}
                <td>Request Pending</td>
                {% else %}
                <td><a href="/league/request/{{ currentLeague.name }}" class="btn btn-success" role="button">Request to Join</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}