{% extends "fantasyFootball/base.html" %} {% block page_content %}

<div class="container">
    <h4>Join a League</h4>
    <!-- Search form -->
    <input class="form-control" id="leagueSearch" type="text" placeholder="Search Leagues">
    <br>
    <ul class="list-group" id="myList">
        {% for currentLeague in leagues %}
        <li href="/league/join/{{ currentLeague.name }}" class="list-group-item" value="{{ currentLeague.name }}">{{ currentLeague.name }}</li> {% endfor %}
    </ul>

    <form method="POST" action="">
        {% csrf_token %}
        <select name="league">
            <option selected="selected" disabled>Leagues</option>
            {% for currentLeague in leagues %}
            <option value="{{ currentLeague.name }}">{{ currentLeague.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select">
    </form>

</div>
</form>
{% endblock %}