{% extends "fantasyFootball/base.html" %} {% block page_content %}

<body>
    <div class="container">
        <!-- League title and league settings-->
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-sm-8">
                        <h1 class="league-title">{{ activeLeague }}</h1>
                    </div>
                    <div class="col-sm-4">
                        {% if leagueAdmin == True %}
                        <a href="/league/admin/{{ activeLeague }}" class="btn btn-sm btn-blue">League Settings</a>{% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h5>Standings</h5>
                <table class="table btn-table text-center">
                    <thead>
                        <tr>
                            <th scope="col ">Player</th>
                            <th scope="col ">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for currentUser in leagueUsers %}
                        <tr>
                            <td>{{ currentUser.user }}</td>
                            <td>{{ currentUser.score }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
{% endblock %}