{% extends "fantasyFootball/base.html" %} {% block page_content %}

<body>
    <div class="container">
        <!-- League title and league settings-->
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-sm-8">
                        <h1 class="league-title">{{ activeLeague }}</h1>
                    </div>
                    <div class="col-sm-4">
                        {% if leagueAdmin == True %}
                        <a href="/league/admin/{{ activeLeague }}" class="btn btn-sm btn-blue">League Settings</a>{% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="border-bottom border-gray pb-2 mb-0 ">Message Board</h6>
                        <div class="overflow-auto message-board" style="height: 500px; overflow-y:auto;">
                            <div class="my-3 p-3 bg-white rounded box-shadow messages-div">
                                {% for currentMessage in leagueMessages %}
                                <div class="media text-muted pt-3 ">
                                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray ">
                                        <strong class="d-block text-gray-dark ">@{{ currentMessage.user.username }}</strong>{{ currentMessage.message }}
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="md-form input-group mb-3">
                            {% csrf_token %}
                            <input type="text" class="form-control" id="messageBox" placeholder="Type Message.." aria-label="Message" aria-describedby="MaterialButton-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-md btn-secondary m-0 px-3 post-button" type="submit" id="MaterialButton-addon2">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h5>Standings</h5>
                <table class="table btn-table text-center">
                    <thead>
                        <tr>
                            <th scope="col ">Player</th>
                            <th scope="col ">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for currentUser in leagueUsers %}
                        <tr>
                            <td>{{ currentUser.user }}</td>
                            <td>{{ currentUser.score }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
{% load static %}
<script src="{% static 'league/js/leagueHome.js' %}"></script>
{% endblock %}