{% extends "fantasyFootball/base.html" %} {% block page_content %}

<body>
    <div class="container">
        <h1 class="league-title">{{ activeLeague.name }}</h1>
        <h4 class="text-center">League Settings</h4>
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Players</th>
                    </tr>
                </thead>
                <tbody>
                    {% for currentUser in leagueUsers %}
                    <tr>
                        <td>{{ currentUser.user }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">Pending League Requests</th>
                    </tr>
                </thead>
                <tbody>
                    {% for currentRequest in leagueRequests %}
                    <tr>
                        <td value="{{ currentRequest.user.username }}" class="user-name">{{ currentRequest.user.username }}</td>
                        <td>
                            <input type="submit" class="btn btn-danger btn-sm m-0 reject-button float-right" value="Reject" />
                            <input type="submit" class="btn btn-success btn-sm m-0 accept-button float-right mr-1" value="Accept" />
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
{% load static %}
<script src="{% static 'league/js/leagueSettings.js' %}"></script>
<script src="{% static js/jquery.cookie.js"></script>
{% endblock %}