{% extends "fantasyFootball/base.html" %} {% block page_content %}
<div class="container">
    <h1>Command Central</h1>
    <hr>
    <h4>Season Settings</h4>
    <div class="row">
        <div class="dropdown">
            <button class="btn btn-sm btn-indigo dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Season</button>
            <div class="dropdown-menu">
                {% for season in seasons %}
                <a class="dropdown-item" href="/command/{{ season.year }}/">{{ season.year }}</a> {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <h4>Create New Season</h4>
    <div class="row">
        <form action="createseason/">
            {% csrf_token %}
            <!-- <input type="text" value="Season Year"> -->
            <input type="submit" class="btn btn-sm btn-indigo" value="Create new season">
        </form>
    </div>
</div>
{% endblock %}