{% extends "fantasyFootball/base.html" %} {% block page_content %} {% load static %}

<div class="container">
    <h1 id="seasonId" value="{{ season.year }}">Season Settings {{ season.year }} </h1>
    <div class="d-flex flex-row justify-content-between mb-2">
        <div class="col-lg-6">
            <div class="dropdown">
                <button class="btn btn-green btn-sm dropdown-toggle" type="button" id="weekId" value="{{ weekId }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Week {{ weekId }}
                </button>
                <div class="dropdown-menu">
                    {% for week in weeks %}
                    <a class="dropdown-item" href="/command/{{ season.year }}/{{ week.id}}/">Week {{ week.id }}</a> {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <input type="submit" class="btn btn-green btn-sm mt-1 save-button" value="Save Scores" />
        </div>
    </div>
    <div class="row">
        <table class="table btn-table text-center" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th scope="col">Game</th>
                    <th scope="col">Home Score</th>
                    <th scope="col">Home Spread</th>
                    <th scope="col">Away Score</th>
                    <th scope="col">Away Spread</th>
                    <th colspan="2">Lock Picks</th>
                    <th scope="col">Delete Game</th>
                </tr>
            </thead>
            <tbody>
                {% for currentGame in gameData %}
                <tr class="score-input" value="">
                    <td class="game-id" value="{{ currentGame.id }}">{{ currentGame.date }} - {{ currentGame.homeTeam.name }} @ {{ currentGame.awayTeam.name }}</td>
                    {% if currentGame.pickLocked == False %}
                    <td>
                        <input type="number" class="form-control home-score" size="3" value="{{ currentGame.homeScore }}">
                    </td>
                    <td>
                        <input type="number" class="form-control home-spread" size="3" value="{{ currentGame.homeSpread }}">
                    </td>
                    <td>
                        <input type="number" class="form-control away-score" size="3" value="{{ currentGame.awayScore }}">
                    </td>
                    <td>
                        <input type="number" class="form-control away-spread" size="3" value="{{ currentGame.awaySpread }}">
                    </td>
                    <td><input type="submit" class="btn btn-indigo btn-sm m-0 lock-button" value="Lock" /></td>
                    <td><input type="submit" class="btn btn-indigo btn-sm m-0 unlock-button" value="Unlocked" disabled/></td>
                    {% else %}
                    <td>
                        <input type="number" class="form-control home-score" size="3" value="{{ currentGame.homeScore }}">
                    </td>
                    <td>
                        <input type="number" class="form-control home-spread" size="3" value="{{ currentGame.homeSpread }}">
                    </td>
                    <td>
                        <input type="number" class="form-control away-score" size="3" value="{{ currentGame.awayScore }}">
                    </td>
                    <td>
                        <input type="number" class="form-control away-spread" size="3" value="{{ currentGame.awaySpread }}">
                    </td>
                    <td><input type="submit" class="btn btn-indigo btn-sm m-0 lock-button" value="Locked" disabled/></td>
                    <td><input type="submit" class="btn btn-indigo btn-sm m-0 unlock-button" value="Unlock" /></td>{% endif %}
                    <td><input type="submit" class="btn btn-sm btn-danger delete-button" value="Delete" /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{% static 'command/js/gameOptions.js' %}"></script>
{% endblock %}