{% extends "fantasyFootball/base.html" %} {% block page_content %}

<body>
    <div class="container">
        <div class="card text-center">
            <h1>My Picks</h1>
        </div>
        <form action="" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Home</th>
                        <th scope="col">Away</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for currentPick in pickData %}
                    <tr>
                        <td><img src="/static/media/{{ currentPick.homeTeam }}.png" alt="{{ currentPick.homeTeam }}" class="img-fluid" width="50" height="50"></td>
                        <td>
                            <div class="radio">
                                <label><input type="radio" id='{{ currentPick.homeTeam }}' name="{{ currentPick.game }}">{{ currentPick.homeTeam }}</label>
                            </div>
                        </td>
                        <td>
                            <div class="radio">
                                <label><input type="radio" id='{{ currentPick.awayTeam }}' name="{{ currentPick.game }}">{{ currentPick.awayTeam }}</label>
                            </div>
                        </td>
                        <td><img src="/static/media/{{ currentPick.awayTeam }}.png" alt="{{ currentPick.awayTeam }}" class="img-fluid" width="50" height="50"></td>
                    </tr>
                    {% endfor %} {% csrf_token %}
                </tbody>
            </table>
            <input type="submit" value="Save Picks">
        </form>
    </div>
</body>
{% endblock %}