{% load static %} {% if gameData %} {% for currentGame in gameData %} {% if currentGame.game.pickLocked == False %} {% if currentGame.gameChoice.pickWinner != None %}
<!-- Picks have been made -->
<div class="d-flex flex-row justify-content-center">
    {% if currentGame.gameChoice.pickWinner == currentGame.game.homeTeam %}
    <div class="col-lg-3 pick-box pick-box-selected text-center">
        <input type="radio" name="{{ currentGame.game.id }}" id="{{ currentGame.game.homeTeam.name }}-pick" value="{{ currentGame.game.homeTeam.name }}" checked>
        <img class="img-fluid" src="/static/media/{{ currentGame.game.homeTeam.name }}.png" width="60" height="60">
        <div><small>{{ currentGame.game.homeTeam.wins }} - {{ currentGame.game.homeTeam.losses }}</small></div>
    </div>
    {% else %}
    <div class="col-lg-3 pick-box pick-box-unselected text-center">
        <input type="radio" name="{{ currentGame.game.id }}" id="{{ currentGame.game.homeTeam.name }}-pick" value="{{ currentGame.game.homeTeam.name }}">
        <img class="img-fluid" src="/static/media/{{ currentGame.game.homeTeam.name }}.png" width="60" height="60">
        <div><small>{{ currentGame.game.homeTeam.wins }} - {{ currentGame.game.homeTeam.losses }}</small></div>
    </div>
    {% endif%}
    <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center mb-3">
        <small>{{ currentGame.date }}</small>
        <small>{{ currentGame.time }}</small>
    </div>
    {% if currentGame.gameChoice.pickWinner == currentGame.game.awayTeam %}
    <div class="col-lg-3 pick-box pick-box-selected text-center">
        <input type="radio" name="{{ currentGame.game.id }}" id="{{ currentGame.game.awayTeam.name }}-pick" value="{{ currentGame.game.awayTeam.name }}" checked>
        <img class="img-fluid" src="/static/media/{{ currentGame.game.awayTeam.name }}.png" width="60" height="60">
        <div><small>{{ currentGame.game.awayTeam.wins }} - {{ currentGame.game.awayTeam.losses }}</small></div>
    </div>
    {% else %}
    <div class="col-lg-3 pick-box pick-box-unselected text-center">
        <input type="radio" name="{{ currentGame.game.id }}" id="{{ currentGame.game.awayTeam.name }}-pick" value="{{ currentGame.game.awayTeam.name }}">
        <img class="img-fluid" src="/static/media/{{ currentGame.game.awayTeam.name }}.png" width="60" height="60">
        <div><small>{{ currentGame.game.awayTeam.wins }} - {{ currentGame.game.awayTeam.losses }}</small></div>
    </div>
    {% endif%}
</div>
{% else %}
<!-- Picks have not been made yet and are not yet locked -->
<div class="d-flex flex-row justify-content-center">
    <div class="col-lg-3  pick-box text-center">
        <input type="radio" name="{{ currentGame.game.id }}" id="{{ currentGame.game.homeTeam.name }}-pick" value="{{ currentGame.game.homeTeam.name }}">
        <img class="img-fluid" src="/static/media/{{ currentGame.game.homeTeam.name }}.png" width="60" height="60">
        <div><small>{{ currentGame.game.homeTeam.wins }} - {{ currentGame.game.homeTeam.losses }}</small></div>
    </div>
    <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center mb-3">
        <div><small>{{ currentGame.date }}</small></div>
        <div><small>{{ currentGame.time }}</small></div>
    </div>
    <div class="col-lg-3 pick-box text-center">
        <input type="radio" name="{{ currentGame.game.id }}" id="{{ currentGame.game.awayTeam.name }}-pick" value="{{ currentGame.game.awayTeam.name }}">
        <img class="img-fluid" src="/static/media/{{ currentGame.game.awayTeam.name }}.png" width="60" height="60">
        <div><small>{{ currentGame.game.awayTeam.wins }} - {{ currentGame.game.awayTeam.losses }}</small></div>
    </div>
</div>
{% endif %} {% else %}
<!-- Picks are locked -->
<div class="d-flex flex-row justify-content-center">
    {% if currentGame.gameChoice.pickWinner == currentGame.game.homeTeam.name %}
    <div class="col-lg-3 pick-box pick-box-selected locked text-center">
        <input type="radio" name="{{ currentGame.game.id }}" id="{{ currentGame.game.homeTeam.name }}-pick" value="{{ currentGame.game.homeTeam.name }}" checked disabled>
        <img class="img-fluid" src="/static/media/{{ currentGame.game.homeTeam.name }}.png" width="60" height="60">
        <div><small>{{ currentGame.game.homeTeam.wins }} - {{ currentGame.game.homeTeam.losses }}</small></div>
    </div>
    {% else %}
    <div class="col-lg-3 pick-box pick-box-unselected locked text-center">
        <input type="radio" name="{{ currentGame.game.id }}" id="{{ currentGame.game.homeTeam.name }}-pick" value="{{ currentGame.game.homeTeam.name }}" disabled>
        <img class="img-fluid" src="/static/media/{{ currentGame.game.homeTeam.name }}.png" width="60" height="60">
        <div><small>{{ currentGame.game.homeTeam.wins }} - {{ currentGame.game.homeTeam.losses }}</small></div>
    </div>
    {% endif %}
    <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center mb-3">
        <img class="img-fluid" src="{% static 'media/lock.png' %}" width="30" height="auto">
        <div><small>{{ currentGame.date }}</small></div>
        <div><small>{{ currentGame.time }}</small></div>
    </div>
    {% if currentGame.gameChoice.pickWinner == currentGame.game.awayTeam.name %}
    <div class="col-lg-3 pick-box pick-box-selected locked text-center">
        <input type="radio" name="{{ currentGame.game.id }}" id="{{ currentGame.game.awayTeam.name }}-pick" value="{{ currentGame.game.awayTeam.name }}" checked disabled>
        <img class="img-fluid" src="/static/media/{{ currentGame.game.awayTeam.name }}.png" width="60" height="60">
        <div><small>{{ currentGame.game.awayTeam.wins }} - {{ currentGame.game.awayTeam.losses }}</small></div>
    </div>
    {% else %}
    <div class="col-lg-3 pick-box pick-box-unselected locked text-center">
        <input type="radio" name="{{ currentGame.game.id }}" id="{{ currentGame.game.awayTeam.name }}-pick" value="{{ currentGame.game.awayTeam.name }}" disabled>
        <img class="img-fluid" src="/static/media/{{ currentGame.game.awayTeam.name }}.png" width="60" height="60">
        <div><small>{{ currentGame.game.awayTeam.wins }} - {{ currentGame.game.awayTeam.losses }}</small></div>
    </div>
    {% endif %}
</div>
{% endif %} {% endfor %} {% else %}
<div class="row">
    <div class="col text-center">
        <h5>The upcoming season's games have not yet been entered. Until then, please continue making sure that the league is ready to go with all players registered.</h5>
    </div>
</div>
{% endif %}