{% extends "fantasyFootball/base.html" %} {% block page_content %}

<body>
    <div class="container">
        <div class="card text-center">
            <h1>My Picks</h1>
        </div>
        <form action="" method="POST">
            {% for currentPick in pickData %}
            <fieldset class="form-group"></fieldset>
            {% if currentPick.pick == currentPick.homeTeam %}
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ currentPick.game }}" id="{{ currentPick.homeTeam }}" value="{{ currentPick.homeTeam }}" checked>
                        <label class="form-check-label" for="{{ currentPick.homeTeam }}">
                            {{ currentPick.homeTeam }}
                  </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ currentPick.game }}" id="{{ currentPick.awayTeam }}" value="{{ currentPick.awayTeam }}">
                        <label class="form-check-label" for="{{ currentPick.awayTeam }}">
                            {{ currentPick.awayTeam }}
                  </label>
                    </div>
                </div>
            </div>
            {% elif currentPick.pick == currentPick.awayTeam %}
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ currentPick.game }}" id="{{ currentPick.homeTeam }}" value="{{ currentPick.homeTeam }}">
                        <label class="form-check-label" for="{{ currentPick.homeTeam }}">
                            {{ currentPick.homeTeam }}
                  </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ currentPick.game }}" id="{{ currentPick.awayTeam }}" value="{{ currentPick.awayTeam }}" checked>
                        <label class="form-check-label" for="{{ currentPick.awayTeam }}">
                            {{ currentPick.awayTeam }}
                  </label>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ currentPick.game }}" id="{{ currentPick.homeTeam }}" value="{{ currentPick.homeTeam }}">
                        <label class="form-check-label" for="{{ currentPick.homeTeam }}">
                            {{ currentPick.homeTeam }}
                  </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ currentPick.game }}" id="{{ currentPick.awayTeam }}" value="{{ currentPick.awayTeam }}">
                        <label class="form-check-label" for="{{ currentPick.awayTeam }}">
                            {{ currentPick.awayTeam }}
                  </label>
                    </div>
                </div>
            </div>
            {% endif %}
            </fieldset>
            {% endfor %} {% csrf_token %}
            <input type="submit" value="Save Picks">
        </form>
    </div>
</body>
{% endblock %}