{% extends 'fantasyFootball/base.html' %} {% block page_content %}{% load static %}
<link href='{% static 'picks/css/compare.css' %}' rel='stylesheet'>
<div class='container'>
    <div class='row mt-2'>
        <div class='col-lg-5 col-sm-12 text-center shadow p-2'>
            <h1>{{ homeTeamData.homeTeamName }}</h1>
            <img class='team-logo' src='/static/media/{{ homeTeamData.homeTeamName }}.png'>
            <div class='m-auto stats-board'>
                <div class='d-flex justify-content-between'>
                    <p class='font-italic'>Wins/Losses/Ties</p> 
                    <p>{{ homeTeamData.homeTeam.wins }}-{{ homeTeamData.homeTeam.losses }}-{{ homeTeamData.homeTeam.ties }}</p>
                </div>
                <div class='m-2 border-top'></div>
                <div class='d-flex justify-content-between'>
                    <p class='font-italic'>Spread Covered</p> 
                    <p>{{ homeTeamData.homeCoveredSpread }}</p>
                </div>
                <div class='m-2 border-top'></div>
                <div class='d-flex justify-content-between'>
                    <p class='font-italic'>Spread Covered %</p> 
                    <p>{{ homeTeamData.homeCoveredSpreadPercentage }}</p>
                </div>
                <div class='m-2 border-top'></div>
            </div>
        </div>
        <div class='col-lg-2 text-center'>
        <a class="btn btn-blue m-2" href='/'>&#8249; Home</a></div>
        <div class='col-lg-5 col-sm-12 text-center shadow p-2'>
            <h1>{{ awayTeamData.awayTeamName }}</h1>
            <img class='team-logo' src='/static/media/{{ awayTeamData.awayTeamName }}.png'>
            <div class='m-auto stats-board'>
                <div class='d-flex justify-content-between'>
                    <p class='font-italic'>Wins/Losses/Ties</p> 
                    <p>{{ awayTeamData.awayTeam.wins }}-{{ awayTeamData.awayTeam.losses }}-{{ awayTeamData.awayTeam.ties }}</p>
                </div>
                <div class='m-2 border-top'></div>
                <div class='d-flex justify-content-between'>
                    <p class='font-italic'>Spread Covered</p> 
                    <p>{{ awayTeamData.awayCoveredSpread }}</p>
                </div>
                <div class='m-2 border-top'></div>
                <div class='d-flex justify-content-between'>
                    <p class='font-italic'>Spread Covered %</p> 
                    <p>{{ awayTeamData.awayCoveredSpreadPercentage }}</p>
                </div>
                <div class='m-2 border-top'></div>
            </div>
        </div>
    </div>
    <div class='row m-2'>
        <div class='col text-center'>
            <p>More team data coming soon!</p>
        </div>
    </div>
</div>
{% endblock %}

