/*XS Button */

.btn-group-xs>.btn,
.btn-xs {
    padding: .2rem;
    border-radius: .2rem;
    width: 100%;
}


/*Colors*/

.green {
    color: #19A404;
}

.gray {
    color: #292727;
}


/*Button colors*/

.btn-main {
    border-color: white;
    background-color: transparent;
    border-width: 2;
    color: white;
}

.btn-blue {
    background-color: #0419a4;
    color: white;
}

.btn-green {
    background-color: #19A404;
    color: white;
}


/*Font*/

body {
    font-family: 'Montserrat', sans-serif;
}


/* Table header style */

.gray-table {
    background-color: #292727;
    color: white;
}