.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar-dashboard {
    z-index: 1;
}

.game-row {
    border-bottom-style: solid;
    border-bottom-color: #1B2A41;
    border-bottom-width: 1px;
}

.dashboard-menu-item {
    background-color: white;
    border-radius: 0 !important;
}

.dashboard-menu-item:hover {
    border-bottom: 5px solid #33A1FD;
    transition: .1s;
}

.dashboard-menu-item.active {
    border-bottom: 5px solid #33A1FD;
}

a.dashboard-menu-item {
    color: black !important;
}

.week-pick {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #33A1FD;
    background-color: #292727;
    color: #ffffff;
}

.team-logo.correct {
    border: 2px solid green;
    border-radius: 5px;
    background-color: #94fc84;
}

.team-logo.incorrect {
    border: 2px solid red;
    border-radius: 5px;
    background-color: #ff7676;
}

@keyframes gameprogress {
    0% {
        left: -35px;
        top: 0px;
    }
    50% {
        left: 35px;
        top: 0px;
    }
    100% {
        left: -35px;
        top: 0px;
    }
}

#in-progress-game-animation {
    background-color: #33A1FD;
    height: 2px;
    width: 10px;
    position: relative;
    animation-name: gameprogress;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}


/*League Page Style*/

.card-header {
    background-color: #292727;
    color: #ffffff;
    cursor: pointer;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.max-height-650 {
    max-height: 650px;
}

.double-nav-margin {
    margin-top: 70px;
}

.news-board {
    overflow-y: auto;
    overflow-x: hidden;
}

.message-board {
    height: 100%;
    overflow-y: scroll;
}

.score-notification-box {
    background-color: #33A1FD;
}

.sys-notification-box {
    background-color: #292727;
}

.leaderboard {
    overflow-y: scroll;
}

.arrow {
    box-sizing: border-box;
    height: 15px;
    width: 15px;
    border-style: solid;
    border-color: white;
    transform: rotate(225deg);
    border-width: 0px 1px 1px 0px;
    transition: border-width 150ms ease-in-out;
    margin-top: 10px;
}

.arrow-down {
    transform: rotate(45deg) !important;
    margin-top: 0px;
}


/*Link styles*/

a.league-menu-item.active {
    background-color: #33A1FD;
    color: white !important;
}

a.league-menu-item-left {
    border-top-left-radius: 10px;
}

a.league-menu-item {
    background-color: white;
    color: black !important;
    transition: .3s;
    border: 1px #212529 solid;
}

a.league-menu-item-right {
    border-top-right-radius: 10px;
}

a.league-menu-item:hover {
    background-color: #33A1FD;
    color: white !important;
    transition: .3s;
}


/*Scrollbar styles*/


/* width */

::-webkit-scrollbar {
    width: 3px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #33A1FD;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 767px) {
    /* CSS that should be displayed if width is equal to or less than 767px goes here */
    a.league-menu-item {
        border-radius: 0px;
    }
    .team-logo {
        width: 50px;
    }
}

@media (min-width: 768px) {
    /* CSS that should be displayed if width is equal to or greater than 768px goes here */
    .tabs {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .team-logo {
        width: 80px;
    }
}