.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar-dashboard {
    z-index: 1;
}

.game-row {
    border-bottom-style: solid;
    border-bottom-color: #1B2A41;
    border-bottom-width: 1px;
}

.dashboard-menu-item {
    background-color: white;
    border-radius: 0 !important;
}

.dashboard-menu-item:hover {
    border-bottom: 5px solid #33A1FD;
    transition: .1s;
}

.dashboard-menu-item.active {
    border-bottom: 5px solid #33A1FD;
}

a.dashboard-menu-item {
    color: black !important;
}


/*League Page Style*/

.league-dashboard {
    height: 700px;
    margin-right: 10;
    margin-left: 10;
}

.double-nav-margin {
    margin-top: 70px;
}

.notification-board {
    background-color: #212529;
}

.notification-box {
    background-color: #33A1FD;
}

.message-board {
    background-color: white;
    height: 100%;
    overflow-y: scroll;
}

.leader-board {
    background-color: #212529;
}

.leaderboard-table {
    border-top: none;
}

a.league-menu-item.active {
    background-color: #33A1FD;
    color: white !important;
}

a.league-menu-item-left {
    border-top-left-radius: 10px;
}

a.league-menu-item {
    background-color: white;
    color: black !important;
    transition: .3s;
    border: 1px #212529 solid;
}

a.league-menu-item-right {
    border-top-right-radius: 10px;
}

a.league-menu-item:hover {
    background-color: #33A1FD;
    color: white !important;
    transition: .3s;
}

@media (max-width: 767px) {
    /* CSS that should be displayed if width is equal to or less than 767px goes here */
    .league-dashboard {
        margin: 0;
    }
    .league-col {
        padding: 0;
    }
    a.league-menu-item {
        border-radius: 0px;
    }
}

@media (min-width: 768px) {
    /* CSS that should be displayed if width is equal to or greater than 768px goes here */
    .tabs {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .notification-board {
        border-radius: 10px;
    }
}